*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PingHei","Helvetica Neue","Helvetica","微软雅黑","Arial",sans-serif;
}

input, button {
  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

}